@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

.fea1{
  background-image: url('../public/images/crop.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.auth-bg{
  background-image: url('../public/images/bg-login.svg');
  background-position: center;
  background-size: cover;
}